.forgot-password-form-container{
    width: 22%;

    display: flex;
    align-items: center;

    .forgot-password-form{
        width: 100%;
        &__header{
            color: $-Orange-500;
            margin-bottom: 20px;
    
            @include forgot-password-form-header;
        }
        &__intro{
            font-family: Roboto;
            font-size: 16px;
            font-weight: 400;
            color: $-Gray-500;
        }
        &__form{
            .input-field{
                margin-top: 24px;
                .label{
                    color: #4D4D4D;
                    @include auth-form-label;
                    margin-bottom: 8px;
                }
                .ant-input{
                    font-family: Roboto;
                    font-size: 16px;
                    font-weight: 400;
                }
            }
            .infor-label{
                font-family: "Open Sans";
                font-size: 16px;
                font-weight: 400;
                color: red;

                display: flex;
                column-gap: 4px;
                
                margin-top: 8px;
            }
            
            .back-login-label{
                @include back-login-style;
                color: $-Orange-500;

                text-align: right;

                &:visited{
                    color: $-Orange-500;
                }
            }
            .button.forgot-password-submit{
                color: #FFFFFF;

                width: 100%;
                height: 48px;

                border-radius: 8px;
                -webkit-border-radius: 8px;
                -moz-border-radius: 8px;
                -ms-border-radius: 8px;
                -o-border-radius: 8px;

                border: none;

                background-color: $-Orange-500;

                margin-top: 10px;
            }
        }
    }
}
